/* Base Color */

$principalColor: #4083BF;
$lightPrincipalColor: #9FD9FF;
$darkPrincipalColor: #005087;
$secondColor: #82BDFD;
$lightSecondColor: #BCF5FF;


/* Color Button */

$colorButton: $darkPrincipalColor;
$buttonHover: #EEE8A9;


/* Text Color */

$textButtonColor: $lightSecondColor;
$textButtonColorHover: $principalColor;
