@use './src/style/colorBase';

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #title {
    color: colorBase.$darkPrincipalColor;
    margin: 0.25rem 0.5rem;

  }

  .operation {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;

    .submit-result {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 0.75rem;
      align-items: center;
      width: max-content;
      grid-area: 3/3/3/3;

      #result-fail {
        color: red;
        font-size: 20px;
        font-weight: bold;
        margin: 0.5rem 0;
        width: max-content;
      }

      #result-pass {
        color: green;
        font-size: 20px;
        font-weight: bold;
        margin: 0.5rem 0;
        width: max-content;

      }
    }

  }

  .button-result {
    grid-area: 3/2/3/2;
    padding: 0.50rem 1rem;
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    background: #EEE8A9;
    border: none;
    border-radius: 8px;
    margin-bottom: 0.25rem;
    color: colorBase.$textButtonColor;
    background: colorBase.$colorButton;

  }
}


@media screen and (max-width: 740px) {
  .container-box {

    .operation {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 1rem;
      margin: 0.5rem 1.5rem;
      align-items: end;

      .submit-result {
        grid-area: 4/3/4/3;

        #result-fail, #result-pass {
          font-size: 16px;
          margin: 0;
        }

      }

      .button-result {
        grid-area: 4/2/4/2;

      }
    }
  }
}
