@use './src/style/colorBase';

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #title {
    color: colorBase.$darkPrincipalColor;
    margin: 0.25rem 0.5rem;

  }

  .operation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }

  .image-result {
    width: 64px;
    height: 64px;
    padding: 0.5rem;
    filter: drop-shadow(0 0 0.75rem rgb(77, 135, 72));
  }

  .submit-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    #result-fail {
      color: red;
      font-size: 20px;
      font-weight: bold;
      margin: 0.5rem 0;
    }

    #result-pass {
      color: green;
      font-size: 20px;
      font-weight: bold;
    }

    .button-result {
      padding: 0.25rem 0.5rem;
      height: fit-content;
      width: fit-content;
      font-size: 20px;
      background: #EEE8A9;
      border: none;
      border-radius: 8px;
      margin-bottom: 0.25rem;
      color: colorBase.$textButtonColor;
      background: colorBase.$colorButton;

    }
  }
}

@media screen and (max-width: 740px) {
  .container-box {

    .operation {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      row-gap: 1rem;
      margin: 0.5rem 1.5rem;

      .submit-result {
        grid-area: 4/3/4/3;
      }
    }
  }
}
