@use "src/style/colorBase";


.menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid colorBase.$darkPrincipalColor;

  #title-range {
    color: colorBase.$darkPrincipalColor;
    margin: 0.25rem 0.5rem 0.50rem;
  }

  .option-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .button-range {
      padding: 0.50rem;
      margin: 0.25rem 0.5rem 0.75rem;
      font-size: 18px;
      background: colorBase.$principalColor;
      color: colorBase.$colorButton;
      border: none;
      border-radius: 4px;


    }
  }

}

